[packages]
classyclick = "*"
requests = "*"
platformdirs = "*"
openai = "*"
pymupdf = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
build = "*"
pytest-socket = "*"

[requires]
python_version = "3.11"
